---
import Card from '../components/ui/Card.astro';

import PVC from '../assets/prodotti/pvc.jpg?url';
import Tende from '../assets/prodotti/tende-veranda.jpg?url';
import Pergole from '../assets/prodotti/pergole.jpg?url';
import Zanzariere from '../assets/prodotti/zanzariera.jpg?url';
import PorteBlindate from '../assets/prodotti/porte-blindate.jpg?url';
import Vepa from '../assets/prodotti/vepa.jpg?url';


---

<section class="flex items-center justify-center mt-16 px-5">
    <div class="container">
        <h2 class="md:text-6xl text-5xl font-bold text-[#141414] text-center font-display">I prodotti <br><span class="text-[#D7212E]">Infissi & Infissi</span></h2>
        <div class="products flex justify-center gap-x-4 mt-10 flex-wrap gap-y-4 flex-col md:flex-row">
            <Card image={PVC} title="Infissi in PVC, alluminio e legno"></Card>
            <Card image={Tende} title="Tende"></Card>
            <Card image={Pergole} title="Pergole"></Card>
            <Card image={Zanzariere} title="Zanzariere"></Card>
            <Card image={PorteBlindate} title="Porte blindate"></Card>
            <Card image={Vepa} title="VEPA"></Card>
        </div>
    </div>
</section>